<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
  <nav class="py-4 px-8 border-b border-gray-800">
    <a href="/">Home</a>
  </nav>
  <main class="mt-5 px-8">
    <h1 class="text-5xl">Posts</h1>
    <div class="mt-10 grid md:grid-cols-2 lg:grid-cols-4 gap-4">
    <% @posts.each do |post| %>
      <div class="border border-gray-800 rounded p-8">
        <p><b>#<%= post.id %></b></p>
        <h2 class="font-bold"><%= post.title %></h2>
        <small><%= post.created_at %></small>
        <div class="mt-4">
          <p><%= post.content %></p>
        </div>
      </div>
    <% end %>
</body>
</html>
